html {
  font-size: 1.25em; 
  line-height: 1.182em;
  padding: 1.182em;
  text-rendering: optimizeLegibility;
}
body{
  background-color: #f5f3f0;
}
label{
  display: block;
}
#checkbox-label{
  display: inline-block;
}
h1{
  display: block;
  margin: 0;
  padding: 10px;
  background-color: #ffff;
  position: float;
}