html {
  font-size: 1.25em; /*20px*/
  line-height: 1.182em; /*26px*/
  text-rendering: optimizeLegibility;
  overflow: scroll;
}
div{
  display: block;
}
body{
  background-color: #f2e8eac6;
}
#content, #form-container, label{
  padding: 1.182em;
}
label{
  display: inline-block;
  padding-left: 0;
}
h1{
  display: block;
  margin: 0;
  padding: 10px 1.182em;;
  background-color: #fbfbfb;
  position: float;
  font-weight: bold;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
}
#form-container{
  background-color: #eedce1cc;
  color: rgb(48, 50, 49);
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  padding-left: 0;
  padding-right: 0;
}
p, h2{
  padding-bottom: 1.182em;
}
h2{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
p{
  font-size: 1em;
  color: rgba(80, 60, 60, 0.833);
}
input[type=email]{
  margin-left: 2em;
}
#submit-button{
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 10%;
  padding: .35em;
  border: 4px solid rgb(255, 192, 231);
  width: fit-content;
}
input{
  background-color: #f4f4f4;
  border: none;
  width: 60%;
  resize: vertical;
}
#checkbox-label{
  font-size: .875em;
}
input[type=checkbox]{
  margin-top: 10%;
  width: 5%;
  margin-right: 0;
}
#checkbox, #submit-button{
  cursor:pointer;
}
ol{
  display: block;
  margin: auto;
  width: 80%;
}
@media screen and (min-width: 768px) {
  #content{
    padding: 0 2em;
    width: 90%;
    background-color:rgb(245, 245, 245,.3);
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    text-align: center;
  }
  #intro, #form-container{
    display: inline-block;
    margin-top: 10%;
  }
  #intro{
    width: 11em;
    vertical-align: top;
    line-height: 1.75em;/*28px*/
    margin-right: 3%;
    margin-left: 3%;
  }
  #form-container{
    width: 60%;
  }
  input{
    margin:0;
    width: 60%;
  }
  #checkbox{
    margin-right: 0;
  }
}
@media screen and (min-width: 1480px){
  #content{
    padding: 5%;
  }
  body{
    background-color: #f8efef;
  }
  #intro, #form-container{
    margin:0;
    height: 400px;
  }
  #intro{
    background-color: #f2e8eae2;
    padding: 2%;
    margin-left:15%;
    height:max-content;
    width: 20%;
  }
  #form-container{
    width: 45%;
    margin-right: 5%;
    padding: 1%;
  }
  h2{
    padding: .5em;
  }
}
