html {
  font-size: 1.25em; /*20px*/
  line-height: 1.182em; /*26px*/
  text-rendering: optimizeLegibility;
}
body{
  background-color: #f2e8eac6;
}
#content, #form-container, label{
  padding: 1.182em;
}
label{
  display: inline-block;
  padding-left: 0;
}
h1{
  display: block;
  margin: 0;
  padding: 10px 1.182em;;
  background-color: #fbfbfb;
  position: float;
  font-weight: bold;
  font-family: 'Dosis', Arial, Helvetica, sans-serif;
}
#form-container{
  background-color: #eedce1cc;
  color: rgb(48, 50, 49);
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}
p, h2{
  padding-bottom: 1.182em;
}
h2{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
p{
  font-size: 1em;
  color: rgba(80, 60, 60, 0.833);
}
input[type=email]{
  width: 266px;
}
#submit-button{
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 10%;
  padding: .35em;
  border: 4px solid rgb(255, 192, 231);
}
input[type=text]{
  width:225px;
}
input{
  background-color: #f4f4f4;
  border: none;
}
#checkbox-label{
  font-size: .875em;
}
input[type=checkbox]{
  margin-top: 10%;
}
@media screen and (min-width: 510px) {
  #content{
    width: 80%;
    margin: 1em auto;
    background-color:rgb(245, 245, 245,.3);
  }
  ol{
    padding: 1.5em 1em;
  }
  intro{
    display: block;
    word-wrap: break-word;
    float: left;
    width: 50%;
  }
}